# Forcer Python 3.10
python_version=="3.10.*"

# Dépendances de ton projet
fastapi
uvicorn
python-telegram-bot==13.15
gspread
oauth2client
fpdf2

# Dépendances ChatterBot pour le chatbot intelligent
chatterbot==1.0.5
chatterbot-corpus==1.2.0
nltk

# Résolution des problèmes de setuptools et distutils
setuptools==58.0.4
wheel
